:root {
   
  --title-color: #f9d209;
  --text-color: #3a2f03;
  --container: #191919;
  --background: #766A37;
  --border: #F2E207;

  --body-font: "Poppins", sans-serif;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.8;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--container);
    color: var(--text-color);
    margin-top: 5rem;
    font-weight: 500;
  }

  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  

  .container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin: 0 auto;
  padding:  2rem;
  background-color: var(--background);
  border-bottom: 2px solid var(--border);
  }
  
  .section__title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    margin-bottom: 1rem;
  }

  .header {
    width: 100%;
  }


  .menu__btn {
    display: none;
    width: 26px;
    height: 16px;
    border: none;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .menu__btn span {
    height: 2px;
    background-color: var(--border);
    width: 100%;
  }
  

  .nav__menu_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

 

  .nav__menu_link:hover {
    color: var(--title-color);
  }

  .section__hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .section__hero_img {
    max-width: 300px;
    margin: 20px 0;
  }

  .section__hero_title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    font-weight: 600;
  }

  .section__hero_subtitle {
    font-size: var(--h1-font-size);
    color: var(--title-color);
  }

  .section__hero_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .section__hero_contacts-title {
    font-size: var(--h3-font-size);
  }

  .section__hero_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .section__hero_item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .section__hero_link {
    font-size: var(--small-font-size);
    font-weight: 400;
  }

  .section__hero_link:hover {
    color: var(--title-color);
  }

  i {
    font-size: 1.5rem;
    color: var(--title-color);
  }

  .section__skills_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .section__skills_item {
    color: var(--title-color);
  }

  .section__skills_main {
    color: var(--text-color);
    margin-right: 10px;
  }

  .section__code_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
  }
  
  .section__code_link {
    text-decoration: underline;
  }

  .section__code_link:hover {
    color: var(--title-color);
  }

  .section__experience_subtitle {
    font-size: var(--h3-font-size);
    margin-bottom: 15px;
  }

  .section__education_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .section__language_subtitle {
    margin-bottom: 15px;
  }

  .section__language_uni {
    font-size: var(--h3-font-size);
    margin-right: 10px;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__container_img {
    max-width: 80px;
  }

  .footer__container_title {
    font-size: var(--h1-font-size);
  }
